<div class="form-group">
	<label for="ping-test-case">Enter IP Address:</label>
	{{input type="text" class="form-control" id="ping-test-case" value=ip_address}}
</div>
<button type="button" class="btn btn-default pull-right" {{action "submitAttrs"}}>Add Test Cases</button>