<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img src="/assets/images/cesar_acosta.jpg" class="img-circle" alt="Cesar Acosta" width="75%" height="75%" alt="Cesar Acosta">
		</div>
		<div class="col-md-6">
			<h2>Cesar Acosta</h2>
			<h3><small>Software Developer at State Farm</small></h3>
			<hr>
			<p>
				lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac orci tempus, congue magna non, vehicula justo. Duis eu orci rhoncus, porttitor nisl vel, aliquet neque. Nullam a lorem nisi. Sed ligula ligula, ornare vitae nisi et, blandit consequat sem. Pellentesque ut tortor vel risus iaculis venenatis ut eu magna. Fusce fringilla lorem nec purus vestibulum dictum. In interdum leo et ligula consequat, non mattis leo rhoncus. Nulla facilisi. Nullam sit amet tortor vitae nulla eleifend cursus. Etiam eu felis a dolor tristique vestibulum sit amet at justo. Sed vel magna pharetra, porttitor massa in, vulputate erat. In purus libero, fringilla sit amet dolor ut, pulvinar vulputate metus.
			</p>
			<hr>
			<ul class="about">
				<li><strong>Email:</strong> {{model.email}}</li>
				<li><strong>Phone: </strong> {{model.phoneNum}}</li>
				<li><strong>Social: </strong> <a href="https://www.linkedin.com/in/cesar-acosta-1a731b84" class= "fa fa-linkedin"></a> <a href="https://github.com/cacosta33" class= "fa fa-github"></a></li>
			</ul>
		</div>
	</div>
</div>

